<div class="row g-5 mb-5">
  <div>
    <h3 class="fancy-font border-bottom pb-3 mb-5 section-title">Contact</h3>
    {% for contact in site.data.settings.contacts %}
    <div class="row g-5 mb-5">
      <div class="col-md-6">
        <figure>
          <img src="{{ site.github.url }}/assets/img/{{ site.data.art.contact.source }}" alt="{{ site.data.art.contact.alt }}" width="100%">
          <figcaption>{{ site.data.art.contact.title }}, {{ site.data.art.contact.year }}, {{ site.data.art.contact.author }}. <a href="{{ site.data.art.contact.link }}">{{ site.data.art.contact.via }}</a>, {{ site.data.art.contact.license }}</figcaption>
        </figure>
      </div>
      <div class="col-md-6">
        <h4>{{ contact.name }}</h4>
        <p>{{ contact.title }}</p>
        <p>{{ contact.department }}</p>
        <p>{{ contact.institution }}</p>
        <p>{{ contact.institution_address }}</p>
        <!-- <p>Phone: {{ contact.phone }}</p> -->
        <p>Email: {{ contact.email }}</p>
        <!-- <p>Office: {{ contact.office }}</p> -->
      </div>
    </div>
    {% endfor %}
  </div>
</div>
