<header class="header-bar p-3 py-md-5">
  <div class="col-lg-8 mx-auto d-flex flex-column flex-md-row align-items-center">
    <div class="site-title">
      <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none">
        <span class="h2 fancy-font">{{ site.title }}</span>
      </a>
      <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none">
        <span class="h4">{{ site.description }}</span>
      </a>
    </div>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      {% for item in site.data.settings.menu %}
        <a class="mx-2 py-2" href="{{ site.github.url }}{{ item.url }}">{{ item.name }}</a>
      {% endfor %}
    </nav>
  </div>
</header>
