<div class="row g-5 mb-5">
  <div>
    <h3 class="border-bottom pb-3 mb-5 fancy-font section-title">Publications</h3>
    {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% else %}
      {% for item in site.data.publications.index %}
        <p>{{ item.name }}
          {% if item.url != "" %}
            <span>
            <a href="{{ item.url }}" class="publication-link"> [Link]</a>
            </span>
          {% endif %}
        </p>
      {% endfor %}
    {% endif %}
  </div>
</div>
