$backgroundColor: #eae7dc;
$headerBackgroundColor: #d8c3a5;
$bodyColor: #8e8d8a;
// $bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$bodyFont: Helvetica, sans-serif;
$linkColor: #8e8d8a !important;
$publicationLinkColor: #e85a4f;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

// body a {
//   color: $linkColor
// }

.header-bar {
  background: $headerBackgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

.publication-link {
  color: $publicationLinkColor
}