$backgroundColor: #eae7dc;
$headerBackgroundColor: #d8c3a5;
$bodyColor: #71706e;
// $bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$bodyFont: "Nunito", Helvetica, sans-serif;
$titleFont: "Aleo", "Nunito", Helvetica, sans-serif;
$linkColor: #71706e;
$brightColor: #e85a4f;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  font-size: 1.2em;
  margin: 0;
  padding: 0
}

body a, a:visited, a:active {
  color: $linkColor;
  font-style: normal;
  text-decoration: none;
}

body a:hover {
  color: $brightColor;
  text-decoration: underline;
}

.header-bar {
  background: $headerBackgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

.navigation-link a {
  color: $brightColor;
  font-style: normal;
  text-decoration: none;
}

.navigation-link a:hover {
  color: $brightColor;
  font-weight: 500;
}

.publication-link {
  color: $brightColor
}

.section-title {
  color: $brightColor
}

.fancy-font {
  font-family: $titleFont
}

// .header-bar.site-title {
//   color: $linkColor;
//   text-decoration: none
// }

#header-title {
  color: $linkColor;
  text-decoration: none
}

#header-IPA {
  color: $linkColor;
  text-decoration: none
}