$backgroundColor: #eae7dc;
$headerBackgroundColor: #d8c3a5;
$bodyColor: #71706e;
// $bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$bodyFont: "Nunito", Helvetica, sans-serif;
$titleFont: "Aleo", "Nunito", Helvetica, sans-serif;
$linkColor: #71706e;
$brightColor: #e85a4f;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  margin: 0;
  padding: 0
}

body a {
  color: $linkColor
}

.header-bar {
  background: $headerBackgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

.publication-link {
  color: $brightColor
}

.section-title {
  color: $brightColor
}