---
layout: default
---

{{ content }}

<div class="row g-5 mb-5 col-lg-8 mx-auto">
  <div>
    <a href="{{ site.github.url }}/assets/cv.pdf"><h3 class="fancy-font border-bottom pb-3 mb-5 section-title">CV (pdf)</h3></a>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Education</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.education %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
          <p>Advisor: {{ section.advisors }}</p>
          <br>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <!-- <h4>Academic Experience</h4> -->
      </div>
      <div class="col-md-10">
        <!-- {% for section in site.data.cv.academic-experience %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
        {% endfor %} -->
      </div>
    </div>
  </div>
</div>
