---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    {% for picture in site.data.art.personal %}
      <figure class="mx-2 text-center">
        <img src="{{ site.github.url }}/assets/img/{{ picture.source }}" alt="{{ picture.alt }}" width="90%">
        <figcaption class="image-caption mx-3 mt-2">{{ picture.title }}</figcaption>
      </figure>
    {% endfor %}
  </div>
  <div class="col-md-6">
    <h3 class="fancy-font section-title">About me</h3>
    {{ content }}
  </div>
</div>

<div class="row g-5 mb-5 col-lg-8 mx-auto">
  <!-- <div>
    <h3 class="fancy-font section-title pb-3 mb-2">About me</h3>
    {{ content }}
  </div> -->
  <div>
    <h3 class="fancy-font section-title pb-3 mb-2">Blog</h3>
    {% for post in site.tags.blog %}
      <h5><a class="mt-2 blog-link" href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</h5>
      <p>{{ post.excerpt }}</p>
    {% endfor %}
  </div>
</div>
